@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <h2>Now you can do a lot more ...</h2>
    <hr/>
    <h3>For example, you can update your FB status from here:</h3>
    using(Html.BeginForm("postphoto", "home"))
    {
        <p>Your status</p>
        <input type="text" name="status" id="status" value="" placeholder="What's on your mind" />
        <input type="submit" value="Post" />
    }
    <hr/>
    <iframe src="http://www.facebook.com/plugins/like.php?href=www.expoware.org"
            scrolling="no" frameborder="0"
            style="border:none; width:450px; height:80px"></iframe>
}
else
{
    <h2>@ViewBag.Message</h2>
    <h3>@ViewBag.Message1</h3>
}
