@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     This mobile app helps Richland County Residents to report and find lost pets.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>