@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h3>Phone</h3>
<span>803-576-1372</span>

<h3>Email</h3>
<span><a href="mailto:animalcare@rcgov.us">animalcare@rcgov.us</a></span>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>